body {
  --color-light: #ffffff;
  --color-gray-900: #1E212C;
  --color-gray-800: #424551;
  --color-gray-700:  #787A80;
  --color-gray-600: #9A9CA5;
  --Color-gray-400: #D7DADD;
  --color-primary: #FF3F3A;
  --color-success: #03CEA4;
  --color-info: #5A87FC;
  --color-warning: #F89828;
  --color-danger: #FF4242;
  --color-design: #F52F6E;
  --color-development: #7772F1;
}

@font-face {
  font-family: "Lato";
  src: 
  local('Lato')
  url('./fonts/Lato-Black.woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: 
  local('Lato'),
  url('./fonts/Lato-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: 
  local('Lato'),
  url('./fonts/Lato-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Lato;
}

img {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: inherit;
}

.title {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.hero {
  padding-top: 50px;
  padding-bottom: 86px;
  padding-left: 24px;
  padding-right: 24px;

  @media (max-width: 940px) {
    padding-left: 5px;
    padding-right: 5px;
  }

  &__container  {
    display: flex;
    flex-direction: column;
    align-items: center;    
  }

  &__desc {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: var(--color-gray-900)
  }

  &__title {
    margin: 0;
    margin-bottom: 85px;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color:var(--color-gray-900);
  }

  &__search-container {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1248px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__choice-list {
    display: flex;
    gap: 8px;
    margin: 10px 20px; 

    @media (max-width: 940px) {
      flex-direction: column;
    }
  }

  &__choice-item {
    transition: .3s ease-in-out border;
  }

  &__choice-item {
    padding: 10px 20px;
    border: 1px solid var(--color-light);
    color: var(--color-gray-600)
  }

  &__choice-item > button {
    padding: 0;
    margin-right: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    transition: .3s ease-in-out opacity;
  }

  &__choice-item > button:hover {
    opacity: 0.7;
  }

  &__choice-item > span {
    font-weight: 900;
    font-size: 10px;
    vertical-align: top;
  }

  &__seacrh-label {
    position: relative;
    width: 315px;
    display: flex;
    align-items: center;
    align-self: center;
    
    & > input {
      padding: 11px 16px;
      width: 100%;
      border: 1px solid var(--Color-gray-400);
      border-radius: 4px;
      outline: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-gray-600);
      transition: .3s ease-in-out border;
    }

    & > input:focus {
      border: 1px solid rgba(255, 63, 58, 0.4);
      box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    }
  }
  
  &__search-svg {
    position: absolute;
    right: 15px;
    top: 15px;
  }


  &__list {
    margin-bottom: 80px;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 940px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    box-shadow: 0px 80px 80px -20px #2b2c2e14;

    & > img {
      width: 100%;
      aspect-ratio: 390 / 240;
    }
    &-content {

      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: start;

      & > span {
        padding: 1px 8px;
        margin-bottom: 20px;
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-light);
      }

      & > h2 {
        margin: 0;
        margin-bottom: 20px;
        font-family: Lato;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-gray-900);
      }
    }

    &-price {
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;

      & span:first-child {
        margin-right: 8px;
        color: var(--color-danger)
      }

      & span:last-child {
        color: var(--color-gray-700)
      }
    }

  }

  &__load-more {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray-800);
    transition: .3s ease opacity;
  }

  &__load-more:hover {
    opacity: 0.7;
  }

  &__color-success {
    background-color: var(--color-success);
  }
  &__color-info {
    background-color: var(--color-info);
  }
  &__color-warning {
    background-color: var(--color-warning);
  }
  &__color-design {
    background-color: var(--color-design);
  }
  &__color-development {
    background-color: var(--color-development);
  }

  &__choice-item--active {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    color: var(--color-primary);
  }
}